.table{
    margin-left: 10px;
    padding-left: 50px;
    text-align: center;
}

td{
    height: 40px;
    min-width: 180px;
    margin: 5px;
    padding: 10px;
    padding-left: 20px;
    align-items: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black ;
    border-left: 1px solid black ;
}

th{
    border-bottom: 2px solid black ;
}

.pagination{
    display: flex;
}

ul{
    list-style-type: none ;
    margin-left: 700px;
}

li{
    text-align: center;
    margin-left: 5px;
    padding: 5px;     
}

.container{
    display : flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

